@font-face {
    font-family: "Whitney";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/Whitney-Light/Whitney-Light.woff") format("woff"), url("../fonts/Whitney-Light/Whitney-Light.eot") format("eot"), url("../fonts/Whitney-Light/Whitney-Light.ttf") format("ttf");
}

//test