link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css")
link(rel="stylesheet" href="libs/simplebox/simplebox.css")
link(rel="stylesheet" href="libs/animate/animate.css")
link(rel="stylesheet" href="libs/jquery-ui-select/jquery-ui.min.css")
link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap&subset=cyrillic,cyrillic-ext" rel="stylesheet")
link(rel="stylesheet" href="libs/owl.carusel-2.3.4/css/owl.carousel.min.css")    
link(rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css")
link(rel="stylesheet" href="css/main.css")
