link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css")
link(rel="stylesheet" href="libs/selectric/selectric.css")
link(rel="stylesheet" href="css/main.css")

