extends ../layout/layout.pug
block vars
	- var title = 'Test';
block header
	include ../includes/header.pug
block content
	include ../includes/content-cont.pug
block footer
	include ../includes/footer.pug     
              
